@import "font.css";
body,
html {
  font-family: "SOGANGUNIVERSITYTTF";
}

html {
  scroll-behavior: smooth;
}

.butler {
  font-family: "Butler", sans-serif;
}

.number {
  position: relative;
}
.number:before {
  position: absolute;
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background: url(../images/twinkle.png) no-repeat;
  background-size: contain;
  right: -1.875rem;
  top: 0.625rem;
}
.number:after {
  position: absolute;
  content: "";
  width: 0.937rem;
  height: 0.937rem;
  background: url(../images/twinkle.png) no-repeat;
  background-size: contain;
  left: -0.625rem;
  bottom: -0.625rem;
}

.width_ani {
  animation: w_full 0.2s forwards;
}

@keyframes w_full {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.height_ani {
  animation: h_full 0.2s forwards;
  animation-delay: 0.2s;
}

@keyframes h_full {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.width_ani2 {
  animation-delay: 0.4s;
}

.height_ani2 {
  animation-delay: 0.6s;
}

.dim {
  animation: hide 0.8s forwards ease-in-out;
  animation-delay: 0.8s;
}

@keyframes hide {
  0% {
    height: 100%;
  }
  99% {
    opacity: 1;
  }
  100% {
    height: 0%;
    opacity: 0;
  }
}
.show_ani {
  animation: show_ani 1s forwards ease-in-out;
  animation-delay: 1s;
}

@keyframes show_ani {
  from, to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
  100% {
    opacity: 1;
  }
}
.letter,
.letter2,
.letter3 {
  height: 15rem;
  overflow: hidden;
}
.letter > span,
.letter2 > span,
.letter3 > span {
  transform: translateY(15rem);
  display: inline-block;
  opacity: 0;
  animation: letter_ani 0.5s forwards ease-in-out;
}
.letter > span:nth-child(1),
.letter2 > span:nth-child(1),
.letter3 > span:nth-child(1) {
  animation-delay: 1.3s;
}
.letter > span:nth-child(2),
.letter2 > span:nth-child(2),
.letter3 > span:nth-child(2) {
  animation-delay: 1.35s;
}
.letter > span:nth-child(3),
.letter2 > span:nth-child(3),
.letter3 > span:nth-child(3) {
  animation-delay: 1.4s;
}
.letter > span:nth-child(4),
.letter2 > span:nth-child(4),
.letter3 > span:nth-child(4) {
  animation-delay: 1.45s;
}
.letter > span:nth-child(5),
.letter2 > span:nth-child(5),
.letter3 > span:nth-child(5) {
  animation-delay: 1.5s;
}
.letter > span:nth-child(6),
.letter2 > span:nth-child(6),
.letter3 > span:nth-child(6) {
  animation-delay: 1.55s;
}

.letter2 > span:nth-child(1) {
  animation-delay: 1.6s;
}
.letter2 > span:nth-child(2) {
  animation-delay: 1.65s;
}
.letter2 > span:nth-child(3) {
  animation-delay: 1.7s;
}
.letter2 > span:nth-child(4) {
  animation-delay: 1.75s;
}
.letter2 > span:nth-child(5) {
  animation-delay: 1.8s;
}
.letter2 > span:nth-child(6) {
  animation-delay: 1.85s;
}
.letter2 > span:nth-child(7) {
  animation-delay: 1.9s;
}
.letter2 > span:nth-child(8) {
  animation-delay: 1.95s;
}
.letter2 > span:nth-child(9) {
  animation-delay: 2s;
}
.letter2 > span:nth-child(10) {
  animation-delay: 2.05s;
}
.letter2 > span:nth-child(11) {
  animation-delay: 2.1s;
}
.letter2 > span:nth-child(12) {
  animation-delay: 2.15s;
}

.letter3 > span:nth-child(1) {
  animation-delay: 2.2s;
}
.letter3 > span:nth-child(2) {
  animation-delay: 2.25s;
}
.letter3 > span:nth-child(3) {
  animation-delay: 2.3s;
}
.letter3 > span:nth-child(4) {
  animation-delay: 2.35s;
}
.letter3 > span:nth-child(5) {
  animation-delay: 2.4s;
}
.letter3 > span:nth-child(6) {
  animation-delay: 2.45s;
}
.letter3 > span:nth-child(7) {
  animation-delay: 2.5s;
}
.letter3 > span:nth-child(8) {
  animation-delay: 2.55s;
}
.letter3 > span:nth-child(9) {
  animation-delay: 2.6s;
}
.letter3 > span:nth-child(10) {
  animation-delay: 2.65s;
}

@keyframes letter_ani {
  0% {
    opacity: 0;
    transform: translateY(6.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.spin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sub > p {
  animation: top_ani 1s ease-in-out forwards;
}
.sub > ul li {
  animation: scale_ani 1s ease-in-out forwards;
  animation-delay: 0.1s;
}
.sub > ul li:nth-child(1), .sub > ul li:nth-child(4), .sub > ul li:nth-child(6) {
  animation-delay: 0.3s;
}

@keyframes top_ani {
  0% {
    top: 3rem;
    opacity: 0;
  }
  100% {
    top: 0rem;
    opacity: 1;
  }
}
@keyframes scale_ani {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.list {
  overflow: hidden;
  width: 450%;
}
.list li {
  float: left;
  width: 16.6666666667%;
  padding: 0 0.625rem;
}

.view_btn {
  position: relative;
}
.view_btn > a {
  transition: 0.3s;
}
.view_btn > a:before {
  transition: 0.3s;
  content: "";
  width: 100%;
  height: 0%;
  background: #000;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.view_btn:before {
  position: absolute;
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  background: url(../images/twinkle.png) no-repeat;
  background-size: contain;
  right: -1.875rem;
  top: 0.625rem;
}
.view_btn:after {
  position: absolute;
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  background: url(../images/twinkle.png) no-repeat;
  background-size: contain;
  left: -0.625rem;
  bottom: -0.625rem;
}

footer a span {
  background-color: black;
  -webkit-mask: url(/images/top.svg) no-repeat center;
  mask: url(/images/top.svg) no-repeat center;
  -webkit-mask-size: contain;
          mask-size: contain;
}

body, html {
  cursor: url(/images/cursor_custom.cur), auto;
}

body.dark-mode {
  cursor: url(/images/cursor_custom_white.cur), auto;
  background-color: #000;
}
body.dark-mode #mode_btn {
  background: #fff;
}
body.dark-mode * {
  color: #fff;
}
body.dark-mode .dim {
  background: #fff;
}
body.dark-mode .dim * {
  color: #000;
}
body.dark-mode .dim span {
  background: #000;
}
body.dark-mode svg,
body.dark-mode svg * {
  stroke: white !important;
}
body.dark-mode .port_title:before {
  background: #5b5b5b;
}
body.dark-mode footer a span {
  background-color: white;
}
body.dark-mode html {
  cursor: url(/images/cursor_custom_white.cur), auto;
}

.arrow > svg {
  width: 18.75rem;
  height: 26.25rem;
}

.port_title {
  position: relative;
  display: inline-block;
}
.port_title:before {
  position: absolute;
  content: "";
  width: 110%;
  height: 50%;
  background: #ddd;
  background-size: contain;
  left: -1rem;
  bottom: 0.5rem;
  z-index: -1;
  transform: skewX(-25deg);
}

@media (min-width: 1921px) {
  html,
  body {
    font-size: 0.83333333vw;
  }
}
@media (max-width: 1920px) {
  html,
  body {
    font-size: 100%;
  }
}
@media (max-width: 1620px) {
  html,
  body {
    font-size: 80%;
  }
  .arrow > svg {
    height: 24.25rem;
  }
  #main {
    font-size: 9rem;
  }
  .letter, .letter2, .letter3 {
    height: 12rem;
  }
}
@media (max-width: 1024px) {
  .get_into ul {
    font-size: 1.4rem;
  }
  footer {
    font-size: 1.2rem;
  }
  .list_ul_wrap li {
    padding: 0 0.625rem;
  }
  .sub > ul li {
    width: 33.33%;
  }
}
@media (max-width: 800px) {
  html,
  body {
    font-size: 65%;
  }
  #main {
    font-size: 5rem;
  }
  .letter, .letter2, .letter3 {
    height: 7rem;
  }
  .get_into .number {
    margin-top: 2rem;
  }
  .get_into figure {
    margin-bottom: 2rem;
    width: 70%;
  }
  .sub_header h1 {
    font-size: 2rem;
  }
}
@media (max-width: 640px) {
  #main {
    font-size: 3.7rem;
  }
  .letter, .letter2, .letter3 {
    height: 4rem;
  }
  .letter span, .letter2 span, .letter3 span {
    margin-right: 1px;
  }
  .get_into > div:first-child {
    margin-left: 4rem;
  }
  .get_into .number {
    margin-right: 0;
    margin-top: 0;
    transform: translateY(12px);
    top: -5rem;
    left: -3.5rem;
  }
  .port_title:before {
    display: none;
  }
  .port_title span {
    display: block;
  }
  .view_btn a {
    width: 10rem;
    height: 10rem;
    font-size: 1.5rem;
  }
  .info_text ul li {
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 2rem;
  }
  .info_text ul li span {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .sub {
    padding: 0 2rem;
  }
  .sub > p {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  .sub > ul li {
    width: 50%;
  }
  .sub > ul li > div h2 {
    height: 2.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub > ul li > div h2 a {
    font-size: 1.4rem;
    word-break: keep-all;
    line-height: 1.3;
  }
  footer {
    font-size: 1rem;
  }
}
@media (min-width: 800px) {
  header h1:hover a {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #303030;
    color: #fff;
  }
  .view_btn > a:hover {
    color: #fff;
  }
  .view_btn > a:hover:before {
    height: 100%;
  }
  body.dark-mode .view_btn > a:hover {
    color: #000;
  }
  body.dark-mode .view_btn > a:before {
    background: #fff;
  }
  .hover_ani:hover > div {
    animation: shake_ani 0.6s;
  }
  .sub > ul li:hover > figure {
    animation: shake_ani 0.6s;
  }
  @keyframes shake_ani {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-8deg);
    }
    50% {
      transform: rotate(8deg);
    }
    75% {
      transform: rotate(-8deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}/*# sourceMappingURL=index.css.map */