.section > div {
  padding: 2rem;
}

@keyframes text_ani {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    right: 0;
    width: 0;
  }
}
@keyframes top_ani {
  0% {
    top: 3rem;
    opacity: 0;
  }
  100% {
    top: 0rem;
    opacity: 1;
  }
}
@keyframes scale_ani {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale_ani2 {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes cursor_ani {
  0% {
    right: -5rem;
    bottom: -3.25rem;
  }
  100% {
    bottom: -1.25rem;
    right: 1.125rem;
  }
}
@keyframes opacity_ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}
.main > div h1 .ani_span {
  position: absolute;
  bottom: -1rem;
  display: inline-block;
  background: #000;
  animation: text_ani 1s ease-in-out;
  top: 0;
}
.main > div h1,
.main > div h2 {
  text-align: left;
  font-weight: 600;
  font-size: 11rem;
  position: relative;
  display: inline-block;
}
.main > div h1 span,
.main > div h2 span {
  font-weight: 700;
  vertical-align: 0;
  font-size: 11rem;
}
.main > div h2 {
  text-align: right;
  width: 80%;
}
.main > div h2 .ani_span {
  position: absolute;
  bottom: -1rem;
  top: 0;
  display: inline-block;
  background: #000;
  animation: text_ani 1s 0.3s ease-in-out;
}
.main > div > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main > div > div > div {
  width: 20%;
  position: relative;
  top: 3rem;
  opacity: 0;
  animation: top_ani 1s 0.2s ease-in-out forwards;
}
.main > div > div > div ul li {
  display: inline-block;
  font-weight: 600;
  font-size: 2rem;
  margin-right: 1rem;
  line-height: 1.3;
}

h3 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 5rem;
  font-weight: 600;
}
h3 span {
  font-size: 4rem;
  vertical-align: 0;
  font-weight: 700;
}

.about.active h3 {
  top: 0;
  opacity: 1;
}
.about.active > div > div .img_wrap {
  opacity: 1;
  transform: rotate(-5deg);
}
.about.active > div > div .img_wrap > span {
  transform: rotate(5deg);
}
.about.active > div > div > div ul:before {
  height: 89%;
  transition-delay: 0.2s;
}
.about.active > div > div > div ul li > span {
  opacity: 1;
  top: 0;
}
.about.active > div > div > div ul li > div {
  opacity: 1;
  top: 0;
}
.about.active > div > div > div ul li:nth-child(1) > span {
  transition-delay: 0.2s;
}
.about.active > div > div > div ul li:nth-child(1) > div {
  transition-delay: 0.3s;
}
.about.active > div > div > div ul li:nth-child(2) > span {
  transition-delay: 0.5s;
}
.about.active > div > div > div ul li:nth-child(2) > div {
  transition-delay: 0.6s;
}
.about.active > div > div > div ul li:nth-child(3) > span {
  transition-delay: 0.8s;
}
.about.active > div > div > div ul li:nth-child(3) > div {
  transition-delay: 0.9s;
}
.about.active > div > div > div ul li:nth-child(4) > span {
  transition-delay: 1.1s;
}
.about.active > div > div > div ul li:nth-child(4) > div {
  transition-delay: 1.2s;
}
.about h3 {
  position: relative;
  top: 3rem;
  transition: 0.6s;
  opacity: 0;
}
.about > div {
  padding: 0;
}
.about > div .footer {
  width: 100%;
  margin-top: 3rem;
}
.about > div .footer > div {
  width: 100%;
}
.about > div .footer > div p {
  font-size: 10px;
}
.about > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin: 0 auto;
}
.about > div > div .img_wrap {
  width: 38%;
  transform: rotate(0deg);
  position: relative;
  transition: 0.8s;
  transition-delay: 0.3s;
  opacity: 0;
}
.about > div > div .img_wrap > span {
  position: absolute;
  right: -1rem;
  bottom: -1rem;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: rotate(0deg);
  transition: 0.8s;
  transition-delay: 0.7s;
}
.about > div > div figure {
  overflow: hidden;
  padding: 4rem 2rem 6rem 2rem;
  position: relative;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.about > div > div figure img {
  max-width: 100%;
}
.about > div > div > div {
  width: 57%;
}
.about > div > div > div * {
  font-weight: 600;
  font-size: 1.5rem;
}
.about > div > div > div > ul {
  position: relative;
}
.about > div > div > div > ul:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 0%;
  top: 23px;
  left: calc(20% - 1px);
  background: #d3d3d3;
  transition: 1s;
}
.about > div > div > div > ul > li {
  line-height: 1;
  padding: 0.5rem 0;
  padding-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
}
.about > div > div > div > ul > li > span {
  margin-bottom: 0.6rem;
  display: block;
  font-size: 1.7rem;
  font-weight: 800;
  width: 20%;
  position: relative;
  line-height: 1;
  text-align: right;
  padding-right: 2rem;
  opacity: 0;
  top: 3rem;
  transition: 0.5s;
}
.about > div > div > div > ul > li > span:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 14px;
  background: #ababab;
  border-radius: 50%;
  right: 10px;
}
.about > div > div > div > ul > li div {
  width: 80%;
  position: relative;
  opacity: 0;
  top: 3rem;
  transition: 0.5s;
}
.about > div > div > div > ul > li div > p {
  padding: 0.5rem 0;
}
.about > div > div > div > ul > li div > p span {
  vertical-align: 0;
  font-size: 1.3rem;
  display: inline-block;
  color: #303030;
}
.about > div > div > div > ul > li div .career li,
.about > div > div > div > ul > li div .certificate li {
  line-height: 1.5;
}
.about > div > div > div > ul > li div .career li span,
.about > div > div > div > ul > li div .certificate li span {
  display: inline-block;
  margin-right: 12px;
}
.about > div > div > div > ul > li div .career li p,
.about > div > div > div > ul > li div .certificate li p {
  display: inline-block;
}
.about > div > div > div > ul > li p {
  display: block;
  font-size: 1.7rem;
}
.about > div > div > div .skill {
  margin-top: 7px;
}
.about > div > div > div .skill li {
  display: inline-block;
  margin-right: 1rem;
  position: relative;
  padding-left: 3rem;
  margin-bottom: 1rem;
}
.about > div > div > div .skill li:before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.about > div > div > div .skill li:nth-of-type(1):before {
  background: url(../images/skill_01.png) no-repeat 50%;
  background-size: contain;
}
.about > div > div > div .skill li:nth-of-type(2):before {
  background: url(../images/skill_02.png) no-repeat 50%;
  background-size: contain;
}
.about > div > div > div .skill li:nth-of-type(3):before {
  background: url(../images/skill_03.png) no-repeat 50%;
  background-size: contain;
}
.about > div > div > div .skill li:nth-of-type(4):before {
  background: url(../images/skill_04.png) no-repeat 50%;
  background-size: contain;
}
.about > div > div > div .skill li:nth-of-type(5):before {
  background: url(../images/skill_05.png) no-repeat 50%;
  background-size: contain;
}
.about > div > div > div .skill li:nth-of-type(6):before {
  background: url(../images/skill_06.png) no-repeat 50%;
  background-size: contain;
}
.about > div > div > div .skill li:nth-of-type(7):before {
  background: url(../images/skill_07.png) no-repeat 50%;
  background-size: contain;
}

.protfolio.active.protfolio_odd .protfolio_intro {
  right: 0;
}
.protfolio.active.protfolio_odd .pf_title {
  left: 0;
}
.protfolio.active .protfolio_intro {
  left: 0;
  opacity: 1;
}
.protfolio.active .protfolio_intro .mobile {
  bottom: 0;
  opacity: 1;
}
.protfolio.active .pf_title {
  right: 0;
  opacity: 1;
}
.protfolio.active .pf_title h3:before {
  animation: text_ani 1s ease-in-out;
}
.protfolio.active .pf_title > p {
  opacity: 1;
  left: 0;
}
.protfolio.active .pf_title > p:before {
  width: 100%;
}
.protfolio.active .pf_title > div {
  opacity: 1;
  left: 0;
}
.protfolio.active.protfolio_last > div > .more {
  animation: opacity_ani 1s ease-in-out forwards;
  animation-delay: 0.4s;
}
.protfolio.active.protfolio_last > div > .more a {
  animation: scale_ani 1s ease-in-out infinite;
  animation-delay: 0.5s;
}
.protfolio.active.protfolio_last > div > .more span {
  animation: cursor_ani 1s ease-in-out forwards;
  animation-delay: 0.6s;
}
.protfolio.protfolio_last > div {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.protfolio.protfolio_last > div > .more {
  text-align: right;
  opacity: 0;
  position: absolute;
  right: 9rem;
  bottom: 6rem;
  padding-right: 3rem;
}
.protfolio.protfolio_last > div > .more a {
  font-size: 2rem;
  font-weight: 700;
  font-weight: 800;
  display: inline-block;
}
.protfolio.protfolio_last > div > .more span {
  display: inline-block;
  background: url(../images/cursor.png) no-repeat;
  background-size: contain;
  position: absolute;
  transform: rotate(-45deg);
  width: 50px;
  height: 50px;
  right: -5rem;
  bottom: -3.25rem;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.protfolio.protfolio_last .last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  width: 85%;
  margin: 0 auto;
  height: 100%;
}
.protfolio.protfolio_odd > div {
  flex-direction: row;
}
.protfolio.protfolio_odd .pf_title {
  right: auto;
  left: -7rem;
}
.protfolio.protfolio_odd .protfolio_intro {
  left: auto;
  right: -7rem;
}
.protfolio.protfolio_odd .protfolio_intro .pc {
  margin: 0 auto;
  margin-right: 0;
  border-radius: 150px 0 150px 0;
}
.protfolio.protfolio_odd .protfolio_intro .mobile {
  right: auto;
  left: 0;
}
.protfolio > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  width: 85%;
  margin: 0 auto;
}
.protfolio .pf_title {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  right: -7rem;
  opacity: 0;
  transition: 1s;
  transition-delay: 0.2s;
}
.protfolio .pf_title.pf_title2 > span {
  background-color: #e2485e;
}
.protfolio .pf_title.pf_title2 h3 {
  background: -webkit-linear-gradient(-45deg, #3372b7, #e2485e);
  background: linear-gradient(-45deg, #3372b7, #e2485e);
  background-clip: border-box;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
.protfolio .pf_title.pf_title2 h3:before {
  background: -webkit-linear-gradient(-45deg, #3372b7, #e2485e);
}
.protfolio .pf_title.pf_title2 > p:before {
  background: -webkit-linear-gradient(-45deg, #3372b7, #e2485e);
}
.protfolio .pf_title.pf_title3 > span {
  background-color: #00cd31;
}
.protfolio .pf_title.pf_title3 h3 {
  color: #00cd31;
}
.protfolio .pf_title.pf_title3 h3:before {
  background: #00cd31;
}
.protfolio .pf_title.pf_title3 > p:before {
  background: #00cd31;
}
.protfolio .pf_title.pf_title4 > span {
  background-color: #6f60a4;
}
.protfolio .pf_title.pf_title4 h3 {
  color: #6f60a4;
}
.protfolio .pf_title.pf_title4 h3:before {
  background: #6f60a4;
}
.protfolio .pf_title.pf_title4 > p:before {
  background: #6f60a4;
}
.protfolio .pf_title.pf_title5 > span {
  background-color: #606daf;
}
.protfolio .pf_title.pf_title5 h3 {
  color: #606daf;
}
.protfolio .pf_title.pf_title5 h3:before {
  background: #606daf;
}
.protfolio .pf_title.pf_title5 > p:before {
  background: #606daf;
}
.protfolio .pf_title * {
  font-weight: 600;
}
.protfolio .pf_title > span {
  width: 90px;
  height: 30px;
  background: linear-gradient(135deg, #fff 32%, transparent 32%) -15px 0, linear-gradient(225deg, #fff 32%, transparent 32%) -15px 0, linear-gradient(315deg, #fff 32%, transparent 32%), linear-gradient(45deg, #fff 32%, transparent 32%);
  background-size: 30px 30px;
  z-index: 1;
  background-color: #fbcd37;
  background-repeat: repeat;
  display: inline-block;
}
.protfolio .pf_title h3 {
  color: #fbcd37;
  text-align: left;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  position: relative;
  display: inline-block;
}
.protfolio .pf_title h3:before {
  content: "";
  position: absolute;
  top: 0;
  background: #fbcd37;
  bottom: 0;
}
.protfolio .pf_title > p {
  position: relative;
  opacity: 0;
  transition: 1s;
  left: -3rem;
  transition: 0.5s;
}
.protfolio .pf_title > p:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 60%;
  left: 1.25rem;
  background: #fbcd37;
  bottom: -5px;
  transition: 1s;
  transition-delay: 0.4s;
  opacity: 0.3;
  z-index: -1;
}
.protfolio .pf_title > p a {
  font-size: 2.5rem;
  font-weight: 700;
}
.protfolio .pf_title > div {
  margin: 3rem 0;
  position: relative;
  left: -5rem;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.3s;
}
.protfolio .pf_title > div p {
  font-size: 2rem;
  line-height: 1.3;
  word-break: keep-all;
}
.protfolio .protfolio_intro {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  left: -7rem;
  opacity: 0;
  transition: 1s;
}
.protfolio .protfolio_intro .pc {
  width: 80%;
  height: 50rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0 150px 0 150px;
}
.protfolio .protfolio_intro .pc a {
  display: block;
  width: 100%;
  height: 100%;
}
.protfolio .protfolio_intro .pc img {
  max-width: 100%;
}
.protfolio .protfolio_intro .mobile {
  overflow: hidden;
  width: 17.5rem;
  height: 35.25rem;
  position: absolute;
  right: 1rem;
  bottom: -7rem;
  opacity: 0;
  transition: 1s;
  transition-delay: 0.3s;
}
.protfolio .protfolio_intro .mobile .mobile_bg {
  background: url(../images/mobile_bg.png) no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 44px;
}
.protfolio .protfolio_intro .mobile > a div:not(.mobile_bg) {
  position: absolute;
  z-index: 0;
  width: 89%;
  left: 1rem;
  top: 1rem;
  height: 94%;
  overflow: hidden;
}
.protfolio .protfolio_intro .mobile img {
  max-width: 100%;
}

.top_btn {
  opacity: 0;
  position: fixed;
  width: auto;
  height: auto;
  right: 3rem;
  bottom: 1rem;
  background: url(../images/top.png) no-repeat 50% 0;
  border: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-size: 15px;
  padding-top: 1rem;
  z-index: -1;
  transition: 0.5s;
  cursor: pointer;
}
.top_btn.go_top {
  opacity: 1;
  bottom: 2rem;
  z-index: 9;
}
.top_btn.ft_on {
  bottom: 5rem;
}

.pc_none {
  display: none;
  font-weight: 600;
  font-size: 1rem;
  text-align: right;
  width: 100%;
  text-transform: uppercase;
}

header {
  padding: 2rem;
}
header h1 a {
  font-size: 2.5rem;
  font-weight: 800;
}

.sub {
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 0.4375rem;
}
.sub > p {
  font-size: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  position: relative;
  top: 3rem;
  animation: top_ani 1s ease-in-out forwards;
}
.sub > ul {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-flow: row wrap;
}
.sub > ul li {
  width: 25%;
  margin-bottom: 3rem;
  padding: 0 2rem;
  opacity: 0;
  transform: scale(1);
  animation: scale_ani2 1s ease-in-out forwards;
  animation-delay: 0.1s;
}
.sub > ul li:nth-child(1), .sub > ul li:nth-child(4), .sub > ul li:nth-child(6) {
  animation-delay: 0.3s;
}
.sub > ul li figure {
  width: 100%;
}
.sub > ul li figure a {
  display: block;
  width: 100%;
  height: 100%;
}
.sub > ul li figure img {
  max-width: 100%;
}
.sub > ul li > div {
  margin-top: 2rem;
  text-align: center;
}
.sub > ul li > div h2 a {
  font-size: 1.7rem;
  font-weight: 700;
}
.sub > ul li > div p {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.footer {
  background: #303030;
  text-align: center;
}
.footer > div {
  padding: 1rem 0;
  width: 100%;
}
.footer p {
  font-size: 10px;
  line-height: 1.3;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

@media (min-width: 800px) {
  header h1:hover a {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #303030;
    color: #fff;
  }
}
@media (max-width: 1800px) {
  html,
body {
    font-size: 90%;
  }
  .main > div h1,
.main > div h2 {
    font-size: 9rem;
  }
  .main > div h1 span,
.main > div h2 span {
    font-size: 9rem;
  }
  .main > div > div > div ul li {
    margin-right: 0.5rem;
  }
  .about > div > div {
    width: 85%;
  }
  .about > div > div .img_wrap {
    width: 30%;
  }
  .about > div > div > div {
    width: 66%;
  }
}
@media (max-width: 1600px) {
  .main > div h1,
.main > div h2 {
    font-size: 8rem;
  }
  .main > div h1 span,
.main > div h2 span {
    font-size: 8rem;
  }
  .main > div > div > div {
    width: 30%;
  }
  .protfolio > div {
    width: 90%;
  }
  .protfolio .protfolio_intro .pc {
    height: 43rem;
  }
  .protfolio .protfolio_intro .mobile > div {
    top: 0.6875rem;
    left: 0.75rem;
  }
  .protfolio.protfolio_last .last {
    width: 90%;
  }
}
@media (max-width: 1400px) {
  html,
body {
    font-size: 80%;
  }
  .main > div h1 span,
.main > div h2 span {
    display: block;
  }
  .about > div > div {
    width: 85%;
  }
}
@media (max-width: 1200px) {
  h3,
h3 span {
    font-size: 2.5rem;
  }
  .protfolio .pf_title > p a {
    font-size: 1.8rem;
  }
  .protfolio .pf_title > div p {
    font-size: 1.8rem;
  }
  .protfolio.protfolio_odd .protfolio_intro .pc {
    border-radius: 80px 0 80px 0;
  }
  .protfolio .protfolio_intro .pc {
    border-radius: 0 80px 0 80px;
  }
  .main > div h1,
.main > div h2 {
    font-size: 7rem;
    width: 100%;
  }
  .main > div h1 span,
.main > div h2 span {
    font-size: 7rem;
    display: inline-block;
  }
  .main > div > div {
    display: block;
    text-align: right;
  }
  .main > div > div > div {
    width: 100%;
  }
  .protfolio .pf_title h3 {
    margin-bottom: 10px;
  }
  .protfolio .pf_title > div {
    margin: 2rem 0;
  }
  .protfolio .pf_title p:before {
    left: 8px;
    bottom: 0;
  }
  .about > div > div > div > ul:before {
    left: calc(27.5% - 1px);
    top: 18px;
  }
  .about > div > div > div > ul > li > span {
    width: 30%;
  }
  .about > div > div > div > ul > li > span::before {
    top: 8px;
    right: 7px;
  }
  .top_btn.go_top {
    bottom: 5rem;
  }
  .sub > ul li {
    width: 33.33%;
  }
}
@media (max-width: 1024px) {
  .main > div h1,
.main > div h2 {
    font-size: 6rem;
  }
  .main > div h1 span,
.main > div h2 span {
    font-size: 6rem;
  }
  .protfolio {
    overflow: hidden;
    height: auto !important;
    display: block;
    padding: 6rem 0;
  }
  .protfolio > div {
    width: 100% !important;
    height: auto !important;
    display: flex;
  }
  .protfolio .protfolio_intro .pc {
    height: 31rem;
  }
  .protfolio .protfolio_intro .mobile {
    width: 135px;
    height: 270px;
  }
  .protfolio .protfolio_intro .mobile .mobile_bg {
    border-radius: 0;
  }
  .protfolio .protfolio_intro .mobile > a div:not(.mobile_bg) {
    left: 6px;
    top: 7px;
  }
  .protfolio.protfolio_last > div > .more {
    right: 1rem;
  }
  .protfolio.protfolio_last > div > .more span {
    right: 0;
  }
  .protfolio.protfolio_last .last {
    width: 100%;
  }
  .fp-auto-height.fp-section.about {
    height: 100vh !important;
    padding-top: 8rem;
  }
  .fp-auto-height.fp-section.about > div {
    display: block;
  }
  .fp-auto-height.fp-section.about > div .footer {
    position: absolute;
    bottom: 0;
  }
  .fp-auto-height.fp-section.about > div .footer > div {
    padding-top: 1rem;
  }
  .fp-auto-height.fp-section.about > div > div {
    flex-direction: column;
  }
  .fp-auto-height.fp-section.about > div > div .img_wrap {
    margin-bottom: 5rem;
  }
  .fp-auto-height.fp-section.about > div > div > div > ul::before {
    left: calc(30% - 1px);
  }
  .fp-auto-height.fp-section.about > div > div > div > ul > li > span {
    width: 30%;
  }
  .fp-auto-height.fp-section.about > div > div > div > ul > li > div {
    width: 70%;
  }
  @keyframes cursor_ani {
    0% {
      right: 0;
      bottom: -3.25rem;
    }
    100% {
      right: 0;
      bottom: -1.25rem;
    }
  }
}
@media (max-width: 800px) {
  .pc_none {
    display: block;
  }
  .protfolio.protfolio_odd .protfolio_intro .pc {
    border-radius: 0 80px 0 80px;
    margin-left: 0;
  }
  .protfolio.protfolio_odd .protfolio_intro .mobile {
    left: auto;
    right: 7rem;
  }
  .protfolio > div {
    flex-direction: column-reverse !important;
    width: 100% !important;
    justify-content: flex-start;
  }
  .protfolio.protfolio_last .last {
    flex-direction: column-reverse !important;
    width: 100% !important;
    justify-content: flex-end;
  }
  .protfolio .pf_title {
    width: 100%;
    margin-top: 3rem;
  }
  .protfolio .protfolio_intro {
    width: 100%;
  }
  .protfolio .protfolio_intro .pc {
    height: 37rem;
    width: 67%;
  }
  .protfolio .protfolio_intro .mobile {
    right: 7rem !important;
  }
  .about.fp-auto-height.fp-section {
    height: auto !important;
    padding-bottom: 8rem;
  }
  .about > div .footer {
    position: static;
  }
  .about > div > div {
    display: block;
  }
  .about > div > div .img_wrap {
    margin: 0 auto;
    width: 48%;
    margin-bottom: 2rem;
  }
  .about > div > div > div {
    width: 100%;
  }
  .about > div > div > div > ul > li p {
    font-size: 1.5rem;
  }
  header h1 a {
    font-size: 2rem;
  }
}
@media (max-width: 640px) {
  html,
body {
    font-size: 70%;
  }
  h3,
h3 span {
    font-size: 2rem;
  }
  .main > div h1,
.main > div h2 {
    font-size: 3rem;
  }
  .main > div h1 span,
.main > div h2 span {
    font-size: 3rem;
  }
  .main > div > div > div {
    margin-bottom: 3rem;
  }
  .protfolio {
    margin-top: -7rem;
    padding-top: 7rem;
  }
  .protfolio .pf_title h3 {
    margin-bottom: 1rem;
  }
  .protfolio .pf_title > span {
    width: 60px;
  }
  .protfolio .pf_title > p:before {
    height: 80%;
    left: 5px;
    bottom: -5px;
  }
  .protfolio .pf_title > p a {
    font-size: 1.4rem;
  }
  .protfolio .pf_title > div {
    margin: 0;
    margin-top: 1rem;
  }
  .protfolio .pf_title > div p {
    font-size: 1.3rem;
  }
  .protfolio.protfolio_last > div > .more {
    bottom: 2rem;
    right: auto;
    left: 0rem;
    width: 100%;
    text-align: center;
    padding-right: 0;
  }
  .protfolio.protfolio_last > div > .more a {
    font-size: 1.5rem;
  }
  .protfolio.protfolio_last > div > .more span {
    width: 3rem;
    height: 3rem;
    bottom: -2rem;
  }
  .protfolio .protfolio_intro .pc {
    width: 75%;
    height: 32rem;
  }
  .protfolio .protfolio_intro .mobile {
    width: 40%;
    right: 1rem !important;
    height: 23rem;
  }
  .protfolio.protfolio_last .last .protfolio_intro .pc a img {
    height: 100%;
  }
  .top_btn {
    right: 1rem;
    background: rgba(255, 255, 255, 0.5) url(../images/top.png) no-repeat 50% 0;
    background-size: 15px;
  }
  @keyframes cursor_ani {
    0% {
      right: 0rem;
      bottom: -2rem;
    }
    100% {
      right: 8rem;
      bottom: -1.25rem;
    }
  }
  .about {
    height: auto !important;
    padding-top: 5rem;
  }
  .about.fp-auto-height.fp-section {
    padding-bottom: 4rem;
  }
  .about h3 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }
  .about h3 span {
    font-size: 2.5rem;
  }
  .about > div {
    height: auto !important;
  }
  .about > div > div {
    margin-bottom: 3rem;
  }
  .about > div > div > div * {
    font-size: 1.3rem;
  }
  .about > div > div > div > ul:before {
    left: calc(27.5% - 3px);
    height: 93% !important;
    top: 14px;
  }
  .about > div > div > div > ul > li {
    padding-left: 0;
  }
  .about > div > div > div > ul > li p {
    font-size: 1.3rem;
  }
  .about > div > div > div > ul > li p:before {
    top: 4px;
  }
  .about > div > div > div > ul > li span {
    font-size: 1.3rem;
    width: 33%;
  }
  .about > div > div > div > ul > li div .career li {
    margin: 10px 0;
  }
  .about > div > div > div > ul > li div .career li:first-child {
    margin-top: 0;
  }
  .about > div > div > div > ul > li div .career li span {
    display: block;
    width: 100%;
  }
  .about > div > div figure {
    padding: 3rem 2rem 5rem 2rem;
  }
  .about > div > div .img_wrap {
    width: 65%;
    margin-bottom: 3rem;
  }
  .about > div .footer {
    margin-bottom: 0;
  }
  .about > div .footer > div {
    margin-top: 0;
  }
  .sub > ul li {
    width: 50%;
  }
  header h1 a {
    font-size: 1.5rem;
  }
  .sub > p {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  .sub > ul li > div h2 {
    height: 2.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub > ul li > div h2 a {
    font-size: 1.4rem;
    word-break: keep-all;
    line-height: 1.3;
  }
}/*# sourceMappingURL=index.css.map */