header {
  padding: 2rem;
}

header h1 a {
  font-size: 2.5rem;
  font-family: 'Hahmlet-ExtraBold';
}

.sub {
  max-width: 1500px;
  margin: 0 auto;
}

.sub * {
  font-family: 'NanumSquare', sans-serif;
}

.sub > p {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.sub > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-flow: row wrap;
}

.sub > ul li {
  width: 25%;
  margin-bottom: 3rem;
  padding: 0 2rem;
}

.sub > ul li figure {
  width: 100%;
}

.sub > ul li figure a {
  display: block;
  width: 100%;
  height: 100%;
}

.sub > ul li figure img {
  max-width: 100%;
}

.sub > ul li > div {
  margin-top: 2rem;
  text-align: center;
}

.sub > ul li > div h2 a {
  font-size: 1.7rem;
  font-weight: 700;
}

.sub > ul li > div p {
  font-size: 1.4rem;
  margin-top: 1rem;
}
