@charset "UTF-8"
body,
html
    font-family: 'SOGANGUNIVERSITYTTF'
html
    scroll-behavior: smooth
.butler
    font-family: 'Butler', sans-serif

.number
    position: relative
    &:before
        position: absolute
        content: ''
        width: 1.25rem
        height: 1.25rem
        background: url(../images/twinkle.png) no-repeat
        background-size: contain
        right: -1.875rem
        top: 0.625rem
    &:after
        position: absolute
        content: ''
        width: 0.937rem
        height: 0.937rem
        background: url(../images/twinkle.png) no-repeat
        background-size: contain
        left: -0.625rem
        bottom: -0.625rem


// 애니메이션
.width_ani
    animation: w_full .2s forwards
@keyframes w_full 
    0% 
        width: 0
    100%
        width: 100%
.height_ani
    animation: h_full .2s forwards
    animation-delay: 0.2s
@keyframes h_full 
    0% 
        height: 0
    100%
        height: 100%
.width_ani2
    animation-delay: 0.4s
.height_ani2
    animation-delay: 0.6s
.dim
    animation: hide .8s forwards ease-in-out
    animation-delay: .8s
@keyframes hide 
    0% 
        height: 100%
    99%
        opacity: 1
    100%
        height: 0%
        opacity: 0
.show_ani
    animation: show_ani 1s forwards ease-in-out
    animation-delay: 1s
@keyframes show_ani 
    from, to  
        transform: scale(1, 1)
    25%  
        transform: scale(0.9, 1.1)
    50%  
        transform: scale(1.1, 0.9) 
    75%  
        transform: scale(0.95, 1.05) 
    100%
        opacity: 1
.letter,
.letter2,
.letter3
    height: 15rem
    overflow: hidden
    > span
        transform: translateY(15rem)
        display: inline-block
        opacity: 0
        animation: letter_ani .5s forwards ease-in-out
        &:nth-child(1)
            animation-delay: 1.3s
        &:nth-child(2)
            animation-delay: 1.35s
        &:nth-child(3)
            animation-delay: 1.4s
        &:nth-child(4)
            animation-delay: 1.45s
        &:nth-child(5)
            animation-delay: 1.5s
        &:nth-child(6)
            animation-delay: 1.55s
.letter2 > span
    &:nth-child(1)
        animation-delay: 1.6s
    &:nth-child(2)
        animation-delay: 1.65s
    &:nth-child(3)
        animation-delay: 1.7s
    &:nth-child(4)
        animation-delay: 1.75s
    &:nth-child(5)
        animation-delay: 1.8s
    &:nth-child(6)
        animation-delay: 1.85s
    &:nth-child(7)
        animation-delay: 1.9s
    &:nth-child(8)
        animation-delay: 1.95s
    &:nth-child(9)
        animation-delay: 2s
    &:nth-child(10)
        animation-delay: 2.05s
    &:nth-child(11)
        animation-delay: 2.1s
    &:nth-child(12)
        animation-delay: 2.15s
.letter3 > span
    &:nth-child(1)
        animation-delay: 2.2s
    &:nth-child(2)
        animation-delay: 2.25s
    &:nth-child(3)
        animation-delay: 2.3s
    &:nth-child(4)
        animation-delay: 2.35s
    &:nth-child(5)
        animation-delay: 2.4s
    &:nth-child(6)
        animation-delay: 2.45s
    &:nth-child(7)
        animation-delay: 2.5s
    &:nth-child(8)
        animation-delay: 2.55s
    &:nth-child(9)
        animation-delay: 2.6s
    &:nth-child(10)
        animation-delay: 2.65s
@keyframes letter_ani 
    0% 
        opacity: 0
        transform: translateY(6.25rem)
    100%
        opacity: 1
        transform: translateY(0px)
.spin 
    animation: spin 1s infinite linear
@keyframes spin 
    from  
        transform: rotate(0deg)
    to
        transform: rotate(360deg)
// sub
.sub
    > p
        animation: top_ani 1s ease-in-out forwards
    > ul li
        animation: scale_ani 1s ease-in-out forwards
        animation-delay: 0.1s
        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(6)
            animation-delay: 0.3s

@keyframes top_ani 
    0% 
        top: 3rem
        opacity: 0

    100% 
        top: 0rem
        opacity: 1
@keyframes scale_ani 
    0% 
        transform: scale(1)
        opacity: 0

    50% 
        transform: scale(1.1)
        opacity: 1

    100% 
        transform: scale(1)
        opacity: 1
.list
    overflow: hidden
    width: 450%
    li
        float: left
        width: calc(100% /6)
        padding: 0 0.625rem
.view_btn
    position: relative
    > a
        transition: .3s
        &:before
            transition: .3s
            content: ''
            width: 100%
            height: 0%
            background: #000
            position: absolute
            bottom: 0  
            z-index: -1
        &:hover
            color: #fff
            &:before
                height: 100%
    &:before
        position: absolute
        content: ''
        width: 1.8rem
        height: 1.8rem
        background: url(../images/twinkle.png) no-repeat
        background-size: contain
        right: -1.875rem
        top: 0.625rem
    &:after
        position: absolute
        content: ''
        width: 1.3rem
        height: 1.3rem
        background: url(../images/twinkle.png) no-repeat
        background-size: contain
        left: -0.625rem
        bottom: -0.625rem
footer a span
    background-color: black
    -webkit-mask: url(/images/top.svg) no-repeat center
    mask: url(/images/top.svg) no-repeat center
    mask-size: contain
body, html
    cursor: url(/images/cursor_custom.cur), auto
// 다크모드
body.dark-mode
    cursor: url(/images/cursor_custom_white.cur), auto
    background-color: #000
    #mode_btn
        background: #fff
    *
        color: #fff
    .dim
        background: #fff
        *
            color: #000
        span
            background: #000
    svg,
    svg *
        stroke: white !important
    
    .port_title:before
        background: #5b5b5b
    footer a span
        background-color: white
    html
        cursor: url(/images/cursor_custom_white.cur), auto
.arrow > svg
    width: 18.75rem
    height: 26.25rem
.port_title
    position: relative
    display: inline-block
    &:before
        position: absolute
        content: ''
        width: 110%
        height: 50%
        background: #ddd
        background-size: contain
        left:-1rem
        bottom: 0.5rem
        z-index: -1
        transform: skewX(-25deg)